<h1 class="mt-4" style="font-family:'Calibri'">CineMeet - Welcome <%= name %>!</h1>
<p class="lead mb-3" style="font-family:'Calibri'">CineMeet dashboard.</p>
<div class="row mt-5" style="font-family:'Calibri'">
    <div class="col-md-6 m-auto">
        <% include ./partials/messages %>
        <div class="card card-body text-center">
            <img class="mx-auto mb-3" src="cm.png">
            <a href="/listings/createphysical" class="btn btn-secondary btn-block mb-1">Create a Physical Meetup</a>
            <a href="/listings/createvirtual" class="btn btn-secondary btn-block mb-1">Create a Virtual Meetup</a>
            <a href="/dashboard" class="btn btn-primary btn-block">Go Back</a>
        </div>
    </div>
</div>
