<ul class="nav nav-tabs mt-1">
    <li class="nav-item mr-2">
        <a class="nav-link" href="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item mr-2">
        <a class="nav-link" href="/listings/viewphysical">View Physical Listings</a>
    </li>
    <li class="nav-item mr-2">
        <a class="nav-link" href="/listings/viewvirtual">View Virtual Listings</a>
    </li>
    <li class="nav-item mr-2">
        <a class="nav-link" href="/listings/myupcomingmeetups">View My Upcoming Meetups</a>
    </li>
    <li class="nav-item mr-2">
        <a class="nav-link" href="/users/settings">Settings</a>
    </li>
    <li class="nav-item mr-2">
        <a class="nav-link" href="/users/logout">Logout</a>
    </li>
</ul>
<h1 class="mt-4">CineMeet</h1>
<p class="lead mb-3">Create a virtual movie meetup listing.</p>
<div class="row mt-5">
    <div class="col-md-10 m-auto">
        <div class="card card-body">
            <% include ./partials/messages %>
            <form action="/listings/createvirtual" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6" >
                        <label for="listingname">Listing Name</label>
                        <input
                                type="text"
                                id="listingname"
                                name="listingname"
                                class="form-control"
                                placeholder="Enter listing name"
                        />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="moviename">Movie Name</label>
                        <input
                                type="text"
                                id="moviename"
                                name="moviename"
                                class="form-control"
                                placeholder="Enter movie name"
                        />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6" >
                        <label for="date">Date</label>
                        <input
                                type="date"
                                id="date"
                                name="date"
                                class="form-control"
                                placeholder="Enter date"
                        />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="time">Time</label>
                        <input
                                type="time"
                                id="time"
                                name="time"
                                class="form-control"
                                placeholder="Enter time"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label for="service">Streaming Service</label>
                    <select id="service" name="service" class="form-control">
                        <option value="Netflix">Netflix</option>
                        <option value="Hulu">Hulu</option>
                        <option value="Disney Plus">Disney Plus</option>
                        <option value="Amazon Prime">Amazon Prime</option>
                    </select>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="eventtype">Event Type</label>
                        <select id="eventtype" name="eventtype" class="form-control">
                            <option value="private">Private</option>
                            <option value="public">Public</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="externalpost">External Post</label>
                        <select id="externalpost" name="externalpost" class="form-control">
                            <option value="N">N/A</option>
                            <option value="D">Discord</option>
                            <option value="F">Facebook</option>
                            <option value="DF">Discord & Facebook</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Create Listing</button>
            </form>
        </div>
    </div>
</div>