<div class="container my-4">

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark primary-color">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">CineMeet</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/friends">Friends</a>
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Create Meetup</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink1">
                        <a class="dropdown-item" href="/listings/createphysical">Create a Physical Meetup</a>
                        <a class="dropdown-item" href="/listings/createvirtual">Create a Virtual Meetup</a>
                    </div>
                </li>

                <!-- Dropdown -->
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">View Meetups</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink2">
                        <a class="dropdown-item" href="/listings/myupcomingmeetups">View My Upcoming Meetups</a>
                        <a class="dropdown-item" href="/listings/viewphysical">View All Physical Meetups</a>
                        <a class="dropdown-item" href="/listings/viewvirtual">View All Virtual Meetups
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/settings">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/logout">Logout</a>
                </li>

            </ul>
        </div>
        <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->

</div>

<h1 class="mt-4">CineMeet</h1>
<p class="lead mb-3">Create a virtual movie meetup listing.</p>
<div class="row mt-5">
    <div class="col-md-10 m-auto">
        <div class="card card-body">
            <% include ./partials/messages %>
            <form action="/listings/createvirtual" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6" >
                        <label for="listingname">Listing Name</label>
                        <input
                                type="text"
                                id="listingname"
                                name="listingname"
                                class="form-control"
                                placeholder="Enter listing name"
                        />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="moviename">Movie Name</label>
                        <input
                                type="text"
                                id="moviename"
                                name="moviename"
                                class="form-control"
                                placeholder="Enter movie name"
                        />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6" >
                        <label for="date">Date</label>
                        <input
                                type="date"
                                id="date"
                                name="date"
                                class="form-control"
                                placeholder="Enter date"
                        />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="time">Time</label>
                        <input
                                type="time"
                                id="time"
                                name="time"
                                class="form-control"
                                placeholder="Enter time"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label for="service">Streaming Service</label>
                    <select id="service" name="service" class="form-control">
                        <option value="Netflix">Netflix</option>
                        <option value="Hulu">Hulu</option>
                        <option value="Disney Plus">Disney Plus</option>
                        <option value="Amazon Prime">Amazon Prime</option>
                    </select>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="eventtype">Event Type</label>
                        <select id="eventtype" name="eventtype" class="form-control">
                            <option value="private">Private</option>
                            <option value="public">Public</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="externalpost">External Post</label>
                        <select id="externalpost" name="externalpost" class="form-control">
                            <option value="N">N/A</option>
                            <option value="D">Discord</option>
                            <option value="F">Facebook</option>
                            <option value="DF">Discord & Facebook</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Create Listing</button>
            </form>
        </div>
    </div>
</div>