<h1 class="mt-4">CineMeet - Welcome <%= name %>!</h1>
<p class="lead mb-3">CineMeet dashboard.</p>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <% include ./partials/messages %>
        <div class="card card-body text-center">
            <img class="mx-auto mb-3" src="cm.png">
            <a href="/listings/createphysical" class="btn btn-secondary btn-block">Create a Physical Meetup</a>
            <a href="/listings/viewphysical" class="btn btn-secondary btn-block">View All Physical Meetups</a>
            <a href="/listings/createvirtual" class="btn btn-secondary btn-block">Create a Virtual Meetup</a>
            <a href="/listings/viewvirtual" class="btn btn-secondary btn-block">View All Virtual Meetups</a>
            <a href="/listings/myupcomingmeetups" class="btn btn-secondary btn-block">View My Upcoming Meetups</a>
            <a href="/users/friends" class="btn btn-secondary btn-block">View My Friends List</a>
            <a href="/dashboard" class="btn btn-secondary btn-block">Settings</a>
            <a href="/users/logout" class="btn btn-primary btn-block">Logout</a>
        </div>
    </div>
</div>
