<ul class="nav nav-tabs mt-1">
	<li class="nav-item mr-2">
		<a class="nav-link" href="/dashboard">Dashboard</a>
	</li>
	<li class="nav-item mr-2">
		<a class="nav-link" href="/listings/viewphysical">View Physical Listings</a>
	</li>
	<li class="nav-item mr-2">
		<a class="nav-link" href="/listings/viewvirtual">View Virtual Listings</a>
	</li>
	<li class="nav-item mr-2">
		<a class="nav-link" href="/listings/myupcomingmeetups">View My Upcoming Meetups</a>
	</li>
	<li class="nav-item mr-2">
		<a class="nav-link" href="/users/settings">Settings</a>
	</li>
	<li class="nav-item mr-2">
		<a class="nav-link" href="/users/logout">Logout</a>
	</li>
</ul>
<h1 class="mt-4">CineMeet</h1>
<p class="lead mb-3">My friends list.</p>
<h1 class="text-center mt-4">My Friends</h1>
<div class="row mt-4">
	<div class="col-md-6 m-auto text-center">
		<% include ./partials/messages %>
			<div class="card card-body mb-3">
				<% if (friends.length > 0) { for (let i = 0; i < friends.length; i++) { %>
				<p><%= friends[i].friend %></p>
				<% } } %>
			</div>
		<% if (friends.length === 0) { %>
			<div class="card card-body">
				<h>You currently have no added friends.</h>
			</div>
		<% } %>
	</div>
</div>

<div class="col-md-6 m-auto text-center">
	<form action="/users/addfriend" method="POST">
		<div class="form-group">
			<label for="friend">Friend's Username</label>
			<input
					type="text"
					id="friend"
					name="friend"
					class="form-control"
					placeholder="Enter username"
			/>
		</div>
		<button type="submit" class="btn btn-primary btn-block mt-4">Add Friend</button>
	</form>
</div>