<!-- <ul class="nav nav-tabs mt-1">
	<li class="nav-item mr-2">
		<a class="nav-link" href="/dashboard">Dashboard</a>
	</li>
	<li class="nav-item mr-2">
		<a class="nav-link" href="/listings/viewphysical">View Physical Listings</a>
	</li>
	<li class="nav-item mr-2">
		<a class="nav-link" href="/listings/viewvirtual">View Virtual Listings</a>
	</li>
	<li class="nav-item mr-2">
		<a class="nav-link" href="/listings/myupcomingmeetups">View My Upcoming Meetups</a>
	</li>
	<li class="nav-item mr-2">
		<a class="nav-link" href="/users/settings">Settings</a>
	</li>
	<li class="nav-item mr-2">
		<a class="nav-link" href="/users/logout">Logout</a>
	</li>
</ul> -->

<div class="container my-4">


  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark primary-color">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">CineMeet</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/users/friends">Friends</a>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Create Meetup</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink1">
              <a class="dropdown-item" href="/listings/createphysical">Create a Physical Meetup</a>
              <a class="dropdown-item" href="/listings/createvirtual">Create a Virtual Meetup</a>
            </div>
          </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">View Meetups</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink2">
            <a class="dropdown-item" href="/listings/myupcomingmeetups">View My Upcoming Meetups</a>
            <a class="dropdown-item" href="/listings/viewphysical">View All Physical Meetups</a>
            <a class="dropdown-item" href="/listings/viewvirtual">View All Virtual Meetups
          </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/settings">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/logout">Logout</a>
        </li>

      </ul>
    </div>
    <!-- Collapsible content -->

  </nav>
  <!--/.Navbar-->

</div>


<h1 class="mt-4">CineMeet</h1>
<p class="lead mb-3">My friends list.</p>
<h1 class="text-center mt-4">My Friends</h1>
<div class="row mt-4">
	<div class="col-md-6 m-auto text-center">
		<% include ./partials/messages %>
        <% if (friends.length > 0) { for (let i = 0; i < friends.length; i++) { %>
			<div class="card card-body mb-3">
				<p><%= friends[i].friend %></p>
			</div>
        <% } } %>
		<% if (friends.length === 0) { %>
			<div class="card card-body">
				<h>You currently have no added friends.</h>
			</div>
		<% } %>
	</div>
</div>

<div class="col-md-6 m-auto text-center">
	<form action="/users/addfriend" method="POST">
		<div class="form-group">
			<label for="friend" class="mt-4">Friend's Username</label>
			<input
					type="text"
					id="friend"
					name="friend"
					class="form-control"
					placeholder="Enter username"
			/>
		</div>
		<button type="submit" class="btn btn-primary btn-block mt-4">Add Friend</button>
	</form>
</div>
